aiohttp
aiosqlite
bcrypt
beautifulsoup4
fastapi
grpcio
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-ollama
langchain-openai
langchain-qdrant
langchain-tavily
langgraph
langsmith
nltk
numpy
ollama
openai
python-dotenv
qdrant-client
sentence-transformers
SQLAlchemy
uvicorn[standard]
rank_bm25
langgraph.checkpoint.sqlite