aiohttp
aiosqlite
bcrypt
beautifulsoup4
click
fastapi
google-ai-generativelanguage
google-auth
grpcio
httpx
huggingface-hub
ipykernel
ipython
jupyter_client
jupyter_core
kubernetes
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-ollama
langchain-openai
langchain-qdrant
langchain-tavily
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk
langsmith
matplotlib
networkx
nltk
numpy
ollama
onnxruntime
openai
pydantic
pydantic-settings
python-dotenv
qdrant-client
scikit-learn
scipy
sentence-transformers
spacy
SQLAlchemy
torch
tqdm
transformers
uvicorn[standard]
rank_bm25
