aiohttp
aiosqlite
bcrypt
beautifulsoup4
fastapi
grpcio
langchain
langchain-core
langchain-community
langchain-experimental
langchain-google-genai
langchain-tavily
langchain-qdrant
langgraph
langsmith
langgraph-checkpoint-mongodb
python-dotenv
qdrant-client
SQLAlchemy
uvicorn[standard]
rank-bm25
python-docx
nomic
striprtf
pymongo[srv]
numpy
